.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
}

@media (width <= 480px) {
  .form {
    gap: var(--space-md);
    margin-top: var(--space-lg);
  }
}
