.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatarCircle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--color-text-dark);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.avatarCircleMedium {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  color: var(--color-text-dark);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.avatarCircleLarge {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.75rem;
  color: var(--color-text-dark);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.noHover:hover {
  transform: none;
}
