.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  padding: var(--space-2xl) var(--space-md);
  position: relative;
  overflow-x: hidden;
  background:
    linear-gradient(to bottom, rgb(92 86 67 / 40%), rgb(66 62 54 / 60%)),
    url('@/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  max-width: 480px;
}

@media (width <= 768px) {
  .wrapper {
    padding: var(--space-xl) var(--space-md);
  }
}

@media (width <= 480px) {
  .wrapper {
    padding: var(--space-md);
  }
}

@media (width >= 1200px) {
  .wrapper {
    padding: var(--space-3xl) var(--space-2xl);
  }
}
