.title {
  font-size: 2.4em;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-xs);
  color: var(--color-primary);
}

.subtitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  margin-top: var(--space-xs);
  color: var(--color-text-muted);
  opacity: 0.8;
}

@media (width <= 768px) {
  .title {
    font-size: 2.1em;
  }
}

@media (width <= 480px) {
  .title {
    font-size: 1.9em;
  }

  .subtitle {
    font-size: 0.9em;
  }
}

@media (width <= 360px) {
  .title {
    font-size: 1.7em;
  }

  .subtitle {
    font-size: 0.8em;
  }
}

@media (width >= 1200px) {
  .title {
    font-size: 2.6em;
  }
}
