.adviceSection {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.adviceSection > h2 {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.adviceSection > p {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.adviceFactors {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
