.suggestionContainer {
  background: #fdf2f2; 
  border: px solid #d9534f; 
  border-radius: 12px;
  padding: 18px 22px;
  margin: 0 20px 0 0;
  box-shadow: 0 4px 12px rgba(217, 83, 79, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 305px;
}


.text {
  margin: 20px;
  font-size: 1.02rem;
  color: #4a4a4a;
  line-height: 1.6;
  font-weight: 500;
  max-width: 85%;
  padding: 0 10px;
  text-align: center;
}

.highlight {
  color: #d9534f;
  font-weight: 600;
}