name: Deploy Backend

on:
  push:
    paths:
      - 'backend/**'
      - '.github/workflows/backend-deploy.yml'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Backend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/mindsync-backend:latest ./backend

      - name: Push Backend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mindsync-backend:latest

      - name: Deploy to Droplet
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/mindsync-backend:latest
            docker stop backend || true
            docker rm backend || true
            docker run -d -p 5000:5000 --name backend ${{ secrets.DOCKER_USERNAME }}/mindsync-backend:latest
