name: CD

on:
  workflow_run:
    workflows: [Artifact]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    name: Deploy to Droplet
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to Droplet
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            docker pull ${{ secrets.DOCKER_USERNAME }}/mindsync-frontend:latest

            docker stop frontend || true
            docker rm frontend || true

            docker run -d \
              --name frontend \
              -p 80:80 \
              -p 443:443 \
              -e API_BASE_URL=${{ secrets.API_BASE_URL }} \
              -v /etc/letsencrypt/live/mindsync.my/fullchain.pem:/etc/nginx/ssl/cert.pem:ro \
              -v /etc/letsencrypt/live/mindsync.my/privkey.pem:/etc/nginx/ssl/key.pem:ro \
              --restart unless-stopped \
              ${{ secrets.DOCKER_USERNAME }}/mindsync-frontend:latest

            # Clean up old images
            docker image prune -f
